<% title t('activerecord.models.events.editing_event') %>

<%= render 'form' %>

<p>
  <%= link_to t('common.details'), @event %> |
  <%= link_to t('activerecord.models.events.list'), events_path %>
</p>
