<% title t('activerecord.models.events.plural') %>

<ul>
  <% for event in @events %>
        <li>
        <%= t('activerecord.models.events.title') %> 
        </li>
        <li class="arrow">
          <%= link_to event.name, event %>
          <small class="counter"><%= "#{event.event_date}" %> </small>
        </li>
  <% end %>
</ul>