<% title "#{@event.name}" "#{@event.event_date}" %>
<ul class="edit rounded">
<li><span><%= @event.description %></span></li><br />
<li><span><%= "#{@event.price}" "#{@event.currency}" %></span></li>
</ul>
