<div id="footer">
  &copy <%= Time.now.year.to_s %> by <%= link_to "babinho", "http://babinho.net", :target => '_blank'%> | 
  Application Source code available on 
  <%= link_to "github", "http://github.com/babinho/Band-notifier", :target => '_blank'%>
</div>