<div id="header">
  <div id="title">
    <h1><%= link_to "Band Notifier", root_path, :class => "title_link" %></h1>
  </div>
  <div id="logindisplay">
    <a href="#">Login</a>  </div>
  <div id="menucontainer">    <ul id="menu">    <li><%= link_to "Nove Svirke", root_path %></li>    <li><%= link_to "Sve Svirke", events_path %></li>    <li><%= link_to "Članovi", members_path %></li>      <li><a href="#">Novi user</a></li>    </ul>  </div></div>